---

- set_fact:
    use_firewalld: false
    configure_consul: false
    configure_openstack_stonith: false

- name: Firewalld
  block:
    - name: Check firewalld
      shell: systemctl is-active firewalld.service 2>/dev/null 1>/dev/null; echo $?
      register: firewalld_service

    - set_fact:
        use_firewalld: true
      when: firewalld_service.stdout.find('0') > -1

- when: openstack_ha_node_use_consul | lower == 'true'
  block:
    - name: Check consul service
      shell: systemctl is-active consul 2>/dev/null || echo ko && exit 0
      register: consul_service

    - when: consul_service.stdout.find('ko') < 0
      block:
        - name: Get consul path from systemd
          shell: systemctl show -p ExecStart consul|tr ' ' '\n'|awk -F= '/path=/ {print $2}'
          register: consul_bin_path

        - set_fact:
            consul_bin: "{{ consul_bin_path.stdout }}"
            configure_consul: true

- when: openstack_ha_node_use_openstack_stonith | lower == 'true'
  block:
    - name: Check stonith command
      command: stonith_admin -I
      register: stonith_list

    - when:
        - stonith_list.stdout.find('fence_openstack') > -1
        - openstack_ha_node_openrc_destination != None
      set_fact:
        configure_openstack_stonith: true

    - command: crm_node -n
      register: result_crm_node

    - set_fact:
        cluster_node_crm_node: "{{ result_crm_node.stdout }}"

    - name: Get openstack_id crm_attribute
      register: cluster_node_uuid
      retries: 5
      delay: 30
      shell: >
        attrd_updater --name=openstack_id --node={{ cluster_node_crm_node }} \
            | awk -F'"' '{print $(NF-1)}'

   - set_fact:
        cluster_node_openstack_id: "{{ cluster_node_uuid.stdout }}"

   - when: cluster_node_openstack_id | length != 36
     fail: msg="Bad cluster_node_openstack_id {{ cluster_node_openstack_id }}"

- name: Creates /etc/pacemaker
  file: path=/etc/pacemaker state=directory
